*.idea
*.iml
*.class
*.log
*.jar
*.DS_Store
*.exe
debug
example
findercache
findercache/*
.vscode
*.findercache
.idea
metric/*
test.txt.pcm
aclient_example/ws-iat-test/ws-iat-test
aclient_example/ws-ist-test*
tests/*
result.txt
test.txt.mp3
test.txt
test.txt.pcm.wav
*.pcm
*.wav
findergo.log*
